body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #1A1D1A;
}

.main {
    display: flex;
    width: min(1400px, 100%);
}

.left {
    max-width: 40%;
    --bg-img-w: 100%;
    --bg-img-h: 100%;
    flex: 1 1 0%;
}


.bg-image {
    width: var(--bg-img-w);
    height: var(--bg-img-h);
    display: block;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1 0 0%;
    min-width: 50%;
}

.header-section {
    background-color: aqua;
    flex: 1 1 0%;
}

.form-section {
    background-color: aliceblue;
    flex: 2 1 0%;
}

.footer-section {
    background-color: bisque;
    flex: 1 1 0%;
}
