body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
}

.left {
    flex: 1 1 0%;
    --bg-img-w: 100%;
    --bg-img-h: 100%;
}


.bg-image {
    width: var(--bg-img-w);
    height: var(--bg-img-h);
    display: block;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2 1 0%;
}

.header-section {
    background-color: aqua;
    flex: 1 1 0%;
}

.form-section {
    background-color: aliceblue;
    flex: 2 1 0%;
}

.footer-section {
    background-color: bisque;
    flex: 1 1 0%;
}
